{# plantilla de nuestra app #}
{% extends 'base.html.twig' %}
{# TITULO #}
{% block title %}
Contactar - {{ ciudad | capitalize }}
{% endblock %}
{#CONTENIDO#}

{% block contenido %}
<!-- Page Content -->
<div class="container">
<!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Bar de Paco - {{ ciudad | capitalize }}
      <small>Contactar</small>
    </h1>
<!-- /Page Heading/Breadcrumbs -->

    <!-- Content Row -->
    <div class="row">
      <!-- Map Column -->
      <div class="col-lg-8 mb-4">
        <!-- Embedded Google Map -->
        <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ mapSrc }}"></iframe>
      </div>
      <!-- Contact Details Column -->
      <div class="col-lg-4 mb-4">
        <h3>Detalles</h3>
        <p>
          {{ direccion }}
          <br>
        </p>
        <p>
          <abbr title="Phone">Telefono</abbr>: {{ telefono }}
        </p>
        <p>
          <abbr title="Email">Email</abbr>:
          <a href="mailto:name@example.com">{{ email }}
          </a>
        </p>
        <p>
          <abbr title="Hours">Horario</abbr>: L - S: 9:00 a 21:00
        </p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Send us a Message</h3>
        <form name="sentMessage" id="contactForm">
          <div class="control-group form-group">
            <div class="controls">
              <label>Full Name:</label>
              <input type="text" class="form-control" id="name" required data-validation-required-message="Por favor introduce tu nombre.">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Phone Number:</label>
              <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Email Address:</label>
              <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Message:</label>
              <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
            </div>
          </div>
          <div id="success"></div>
          <!-- For success/fail messages -->
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Message</button>
        </form>
      </div>

    </div>
    <!-- /.row -->
<!-- /Page Content -->
</div>
{% endblock %}